.mantine-ActionIcon-root {
  &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
    border: var(--ai-bd);
    opacity: 0.5;

    &:active {
      transform: none;
    }
  }
}

.mantine-Button-root {
  &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
    border: var(--button-bd);
    opacity: 0.5;
  }
}

.mantine-CloseButton-root {
  &[data-variant='subtle']:where(:not([data-disabled], :disabled)):hover {
    background-color: var(--mantine-color-default-hover);
  }
}

.mantine-NavLink-root {
  &:hover {
    background-color: var(--mantine-color-default-hover);
  }

  &:where([data-active], [aria-current='page']) {
    background-color: var(--nl-bg);
    color: var(--nl-color);

    &:hover {
      background-color: var(--nl-hover);
    }

    .description {
      --description-opacity: 0.9;
      --description-color: var(--nl-color);
    }
  }
}

.mantine-Pagination-root {
  .mantine-Pagination-control {
    border-color: var(--mantine-color-default-border);
    background-color: var(--mantine-color-body);

    &:hover:where(:not(:disabled, [data-disabled])) {
      background-color: var(--mantine-color-default-hover);
    }

    &:where([data-active]) {
      background-color: var(--pagination-active-bg);
      border-color: var(--pagination-active-bg);
      color: var(--pagination-active-color, var(--mantine-primary-color-contrast));

      &:hover {
        background-color: rgba(from var(--pagination-active-bg) r g b / 0.9);
      }
    }
  }
}

.mantine-Stepper-root {
  .mantine-Stepper-stepIcon {
    background-color: var(--mantine-color-body);
    border-color: var(--mantine-color-default-border);
    color: var(--mantine-color-text);

    &:where([data-progress]) {
      border-color: var(--step-color);
    }

    &:where([data-completed]) {
      color: var(--stepper-icon-color, var(--mantine-color-white));
      background-color: var(--step-color);
      border-color: var(--step-color);
    }
  }
}

[data-mantine-color-scheme='light'],
[data-mantine-color-scheme='dark'] {
  .mantine-Tabs-root {
    --tab-border-color: var(--mantine-color-default-border);

    &[data-variant='default'] {
      --tabs-list-border-width: 2px;
      --tab-hover-color: var(--mantine-color-default-hover);
    }

    &[data-variant='pills'] {
      --tabs-list-gap: calc(var(--mantine-spacing-sm) / 2);
      --tabs-text-color: var(--mantine-color-body) !important;
      --tab-hover-color: var(--mantine-color-default-hover);
    }

    .mantine-Tabs-tab {
      color: var(--mantine-color-dimmed);

      &[data-variant='default'],
      &[data-variant='outline'] {
        &[data-active='true'] {
          color: var(--mantine-color-text);
        }

        &:hover {
          background-color: transparent;
          color: var(--mantine-color-text);
        }
      }

      &[data-variant='pills'] {
        &[data-active='true'],
        &[data-active='true']:hover {
          color: var(--mantine-primary-color-contrast);
        }

        &:hover {
          color: var(--mantine-color-text);
        }
      }
    }
  }
}
